<nav class="nav-bar">
    <div class="nav-brand">CN</div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <button class="theme-toggle"></button>
</nav>
<noscript>Please turn on JavaScript to view this website!</noscript>