<nav class="nav-bar">
    <div class="nav-brand">CN</div>
    <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
    <button class="theme-toggle"></button>
</nav>
<noscript>Please turn on JavaScript to view this website!</noscript>